@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    background: url('img/me.jpg');
    background-position: 0 1000px;
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    text-align: center;
}



.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

h1 {
    color: #398f51;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2 {
    color: #777;
    font-size: 4rem;
    font-weight: 400;
}

.image {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

p {
    font-size: 2rem;
    color: #777;
    line-height: 5rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 2.7rem 7,5rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
    transition: background 0,5s;
}

.btn:hover {
    background: #dadada;
}

.green-background{
    background-color: aqua;
}

.topnav {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    padding-right: 5;
    border: 1px solid #0d0e0ede;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 40px;
}

table, th, td {
    border: 1px solid black;
  }


  img{
      border-radius: 50%;
  }

  /*i {
      opacity: 0;
  }

  .link:hover i{
      opacity: 1;
      transition: opacity 1s;
  }*/